@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("./back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}

.chat_section {
    width: 600px;
    margin-top: 20px;
    background-image: url("./body.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.brand {
    padding: 20px;
    background: #035f0b;
    display: flex;
    align-items: center;
    z-index: 2;
}

.brand h1 {
    font-size: 20px;
    color: rgb(253, 251, 251);
    margin-left: 10px;
}

.message_area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.typing{
    box-shadow: 5px 5px 8px #888888;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    text-align: center;
    background-color: #43f151;
}
.welcomePara{
    align-self: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 8px #888888;
    padding: 5px 10px;
    background-color: #f143c5;
}

.joinedPara{
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 8px #888888;
    padding: 5px 10px;
    color: white;
    background-color: #2218b4;
}

textarea {
    width: 100%;
    height: 50px;
    border: none;
    padding: 15px;
    font-size: 16px;
    outline: none;
    background: #fcfbfb;
    resize: none;
}

.message {
    overflow-wrap: break-word;
    padding: 20px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
    font-size: small;
}
.incoming {
    background: #750379;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 5px 5px 8px #750379;
    color: rgb(210, 224, 12);  
}
.outgoing {
    background: #1d9ed1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 5px 5px 8px #1d9ed1;
    color: #413222;
    margin-left: auto;
}

.message h4{
    font-size: 14px;
    padding-bottom: 5px;
}
.message h6{
    font-size: 10px;
    padding-bottom: 5px;
}

@media only screen and (max-width:500px) {
    .chat_section{
        position: relative;
        margin-top: 0px;
        width: 100%;
        height: 100vh;
    }

    .brand {
        position: fixed;
        top: 0%;
        width: 100%;
    }

    .brand img{
        display: inline-block;
        width: 10%;
        height: 10%;
    }

    .brand h1 {
        font-size: 15px;
    }

    .message_area{
        height: 85vh;
    }

    .welcomePara{
        margin-top: 81px;
    }

    .text_area {
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
}